h1 {
    margin-bottom: 2rem;
}

.container-lg {
    padding: 0;
}

img {
    margin-right: 0.5rem;
}

.col {
    padding: 0;
}

.navbar {
    margin: 0 -0.5rem;
}

.jumbotron {
    padding: 2.5rem 2rem;
    margin: 1rem 0.5rem;
}

.txt-white {
    color: #ffffff;
}

.sticky-top {
    top: 1rem;
}

.bg-blue {
    background-color: #e3f2fd
}

.input-group {
    margin-top: 2rem;
}

.form-check {
    margin: 0.5rem 0;
    color: dimgray;
}

.alert {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.hide {
    display: none;
}

.btn {
    margin-top: 4rem;
}

footer {
    margin: 10px auto;
}

footer p {
    text-align: center;
    font-size: 12px;
    color: darkgray;
}